:root {
  --primary-text-color: #2e2f42;
  --title-text-color: #ffffff;
  --description-tel-mail-color: #434455;
  --accent-color: #4d5ae5;
  --accent-color-2: #404bbf;
  --secondaty-font: 'Raleway', sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ---------HEADER----------- */

.header {
}
.header-navigation {
}
.heder-logo {
  font-family: var(--secondaty-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}
.logo-one {
  color: var(--accent-color);
}

.logo-two {
  color: var(--primary-text-color);
}

.heder-logo:focus {
  color: var(--accent-color);
}

.header-list {
}
.heder-item {
}
.header-link {
  font-weight: 500;
  color: var(--primary-text-color);
}

.header-contact {
}

.header-tel,
.header-mail {
  font-weight: 400;
  color: var(--description-tel-mail-color);
}
.header-contact .link:hover,
.header-contact .link:focus,
.header-link.link:hover,
.header-link.link:focus {
  color: var(--accent-color);
}
.header-link.current {
  color: var(--accent-color);
}

/* -----------HERO-------------- */

.hero {
  background-color: var(--primary-text-color);
}

.hero-title {
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.hero-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color-2);
}

/* --------------ABOUT-------------- */

.about {
}
.about-list {
}
.about-item {
}
.about-title {
  font-size: 20px;
  line-height: 0.83;
  letter-spacing: 0.02em;
}
.about-description {
  font-weight: 400;
  color: var(--description-tel-mail-color);
}

/* --------------WORKING-------------- */

.working {
}
.working-title {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.working-list {
}
.working-item {
}

/* --------------TEAM-------------- */

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.team-list {
}

.team-item {
}
.team-subtitle {
  font-size: 20px;
  line-height: 0.83;
  letter-spacing: 0.02em;
}
.team-description {
  font-weight: 400;
  color: var(--description-tel-mail-color);
}

/* ----------FOOTER---------- */

.footer {
  background-color: #2e2f42;
}

.footer-logo .one {
  font-family: var(--secondaty-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.footer-logo .two {
  font-family: var(--secondaty-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo:focus {
  color: #000;
}

.footer-description {
  color: #e7e9fc;
}

/* --------------Page 2------------ */

/* --------------BENEFITS-------------- */

.benefits {
}
.btn-list {
}
.btn-item {
}
.btn {
  background: #f4f4fd;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
  color: #ffffff;
}
.list-item {
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-description {
  font-weight: 400;
  color: var(--description-tel-mail-color);
}
