:root {
  --primary-text-bg-color: #2e2f42;
  --title-text-bg-color: #ffffff;
  --description-tel-mail-color: #434455;
  --primary-border-color: #e7e9fc;
  --bg-btn-foot-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --accent-color-2: #404bbf;
  --secondaty-font: 'Raleway', sans-serif;
}
body {
  background-color: var(--title-text-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1158px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.img.no-gap{
  display: block;

  /* max-width: 100%; */
  height: auto;
}

/* ---------HEADER----------- */

.header {
}
.header-navigation {
}
.heder-logo {
  font-family: var(--secondaty-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}
.logo-one {
  color: var(--accent-color);
}

.logo-two {
  color: var(--primary-text-bg-color);
}

.heder-logo:focus {
  color: var(--accent-color);
}

.header-list {
}
.heder-item {
}
.header-link {
  font-weight: 500;
  color: var(--primary-text-bg-color);
}

.header-contact {
}

.header-tel,
.header-mail {
  font-weight: 400;
  color: var(--description-tel-mail-color);
}
.header-contact .link:hover,
.header-contact .link:focus,
.header-link.link:hover,
.header-link.link:focus {
  color: var(--accent-color);
}
.header-link.current {
  color: var(--accent-color);
}


/* -----------HERO-------------- */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;

  background-color: var(--primary-text-bg-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 48px;

  text-align: center;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-bg-color);
}

.hero-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--title-text-bg-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color-2);
}

/* --------------ABOUT-------------- */

.about {
}
.about-list {
}
.about-item {
}
.about-title {
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 0.83;
  letter-spacing: 0.02em;
}
.about-description {
  margin-bottom: 0;

  font-weight: 400;
  color: var(--description-tel-mail-color);
}

/* --------------WORKING-------------- */

.working {
}
.working-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.working-list .container {
  background: linear-gradient(
    0deg,
    rgba(77, 90, 229, 0.1),
    rgba(77, 90, 229, 0.1)
  );
  background-blend-mode: soft-light, normal;
  border: 1px solid var(--primary-border-color);

  width: 360px;
  height: 300px;
}

.working-item {
}

/* --------------TEAM-------------- */

.team {
  background-color: var(--bg-btn-foot-color);
}

.team-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-bg-color);
}
.team-list {
}

.team-item .container {
  width: 264px;

  background: var(--title-text-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}

.team-subtitle {
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: center;

  font-size: 20px;
  line-height: 0.83;
  letter-spacing: 0.02em;
}
.team-description {
  text-align: center;

  font-weight: 400;
  color: var(--description-tel-mail-color);
}

/* ----------FOOTER---------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--primary-text-bg-color);
}
.footer .container{
  width: 264px;
}


.footer-logo .one {
  font-family: var(--secondaty-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.footer-logo .two {
  font-family: var(--secondaty-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-btn-foot-color);
}

.footer-logo:focus {
  color: var(--accent-color-2);
}

.footer-description {
  margin-top: 16px;
  margin-bottom: 0;

  color: var(--primary-border-color);
}

/* --------------Page 2------------ */

/* --------------BENEFITS-------------- */

.benefits {
  padding-top: 96px;
}
.btn-list {
}
.btn-item {
}
.btn {
  margin-bottom: 72px;
  padding: 12px 24px;

  background: var(--bg-btn-foot-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid var(--primary-border-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);

  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
  color: var(--title-text-bg-color);
}
.list-item {
}
.benefits-list {
}
.benefits-item .container {
  margin-bottom: 48px;

  border-bottom: 1px solid var(--primary-border-color);
  border-right: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);

  width: 361px;
}
.benefits-subtitle {
  margin-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  
}
.benefits-description {
  margin-bottom: 32px;
  margin-left: 16px;

  font-weight: 400;
  color: var(--description-tel-mail-color);
}
